<!doctype html>
<html>
  <head>
    <title>3 APIs</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.0/dist/css/foundation.min.css"> 
  </head>

  <body>
    <div class="grid-container">
      <h1> Slow day? </h1>
      <div class="grid-x grid-padding-x">
	<div class="cell medium-6">
	  <div class="primary callout">
	    <h4> Catto </h4>
	    <img src={{image1}}>
	  </div>
	</div>
	<div class="cell medium-6">
	  <div class="primary callout">
	    <h4> Doggo </h4>
	    <img src={{image2}}>
	  </div>
	</div>
      </div>

      <div class="grid-x grid-padding-x">
	<div class="cell medium-12">
	  <div class="primary callout">
	    <h4>Are you a cat person or a dog person? Doesn't matter! Here is a cat fact!</h4>
	    <p>{{cat_fact}}</p>
	  </div>
	</div>
      </div>
    </div>
  </body>
  
</html>
